/*CSS*/
#header {
	color: #ffffff;
	background-color: #000000;
	height: 100px;
} 

#menu {
	background-color: #2F4F4F;
}

#content {
	background-color: #FFFFFF;
}

#footer {
	background-color: #000000;
	height: 100px;
}

a.btn {
	color: #D3D3D3;
	margin: 16px;
	display: inline-block;
	
}

.btn.primary {
	/*background-color: #42A1E1;*/
}

.btn.danger {
	/*background-color: #C62B1A;*/
}

.btn.secondary {
	/*background-color: #F2F2F2;*/	
}