/*CSS*/
#header {
	color: #ffffff;
	background-color: #2F4F4F;
	height: 100px;
} 

#menu {
	background-color: #2F4F4F;
}

#content {
	background-color: #FFFFFF;
}

#footer {
	background-color: #2F4F4F;
	height: 100px;
}

a.btn {
	color: #D3D3D3;
	margin: 16px;
	display: inline-block;
	
}

.btn.primary {
	/*background-color: #42A1E1;*/
}

.btn.danger {
	/*background-color: #C62B1A;*/
}

.btn.secondary {
	/*background-color: #F2F2F2;*/	
}

p {
	font-size: 14px;
	font-family: 'Kanit', sans-serif;
	color: 	#4169E1;
	padding: 6px;
}

tr.silver {
	background-color: #808080;
}

td.texto_lista_usuarios {
	font-family: 'Kanit', sans-serif;
	font-size: 15px;
}
