/*CSS*/
#header {
	color: #ffffff;
	background-color: #2F4F4F;
	height: 100px;
} 

#menu {
	background-color: #2F4F4F;
}

#content {
	background-color: #FFFFFF;
}

#footer {
	background-color: #2F4F4F;
	height: 100px;
	color: white;
	float: none;
}

a.btn {
	color: #D3D3D3;
	margin: 16px;
	display: inline-block;
	
}

.btn.primary {
	font-family: 'Fjalla One', sans-serif;
}
.btn.secondary {
	font-family: 'Fjalla One', sans-serif;
}

.btn.danger {
	font-family: 'Fjalla One', sans-serif;
}

.btn.third {
	font-family: 'Fjalla One', sans-serif;
}

p{
	font-size: 14px;
	font-family: 'Fjalla One', sans-serif;
	color: #2F4F4F;
	padding: 6px;
}

tr.silver {
	background-color: #808080;
}

td.texto_lista_usuarios {
	font-family: 'Kanit', sans-serif;
	font-size: 15px;
}

h2 {
	font-family: 'Rubik Mono One', sans-serif;
	font-size: 20px;
}
table {
	height: 70px;
	padding-top: 15px;
	font-family: 'Fjalla One', sans-serif;
}
